<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/sellect.css}">
<link href='css/style.css' th:href=@{css/style.css} rel='stylesheet' type='text/css'>
<link href="css/home.css" th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="../static/js/sellect.js" th:src="@{/js/sellect.js}"></script>
<script src="../static/js/editProfile.js" th:src="@{/js/editProfile.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Edit Profile</title>

</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" style="color:grey;padding-left:10px;">Mama's Dish</a>
				      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
							<li>
  								<a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons cyan-text text-darken-4">menu</i></a>
								<ul id='dropdown1' class='dropdown-content'>
									<li><a th:href="@{/users/suggest}" id="homeNavTxt">Suggested Recipes</a></li>
									<li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
								   	<li><a th:href="@{/users/viewRecent}" id="homeNavTxt">Recent Recipes</a></li>
									<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
									<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
								</ul>
							</li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
		
	  <ul class="sidenav" id="mobile-demo">
	  	<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
		<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
		<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
		<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		<li><a th:href="@{/users/suggest}" id="homeNavTxt">Suggested Recipes</a></li>
		<li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
	    <li><a th:href="@{/users/Recent}" id="homeNavTxt">Recent Recipes</a></li>
	    <li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
	    <li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
		<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
	  </ul>
		
	</header>

	<div class="row container padtop80" style="margin-top:70px">
		<div class="col m6 offset-m3 s12">
			<div class="row">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s3"><a href="#test1"
							class="active blue-text text-darken-4">Edit Profile</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col m6 offset-m3 s12 z-depth-1"  id="formLogin">
		<form th:action="@{/viewProfile}" method="post">
				<p id="errId" style="text-align:center" th:text="${errMssg}"></p>	
				<input type="hidden" id="id" name="id" th:value="${user.id}" />						
				<div class="input-field col s12 ">
					<label for="email">Email ID </label><br>
					<input  th:value="${user.email}" type="text" readonly> 
				</div>
				<div class="input-field col s12 ">
					<label for="firstName">First Name </label><br>
					<input id="firstName" name="firstName" th:value="${user.firstName}" type="text" required min=2>
				</div>
				<div class="input-field col s12 ">
					<label for="lastName">Last Name </label><br>
					<input id="lastName" name="lastName"  th:value="${user.lastName}"  type="text" required min=2> 
				</div>
				<div class="input-field col s12 ">
					<label>Selected Preferences:</label><br><br>
				</div>
				<div class="input-field col s12">
					<label>Country</label><br>
				</div>			
				<div class="input-field col s12">
					<input type="text" id="my-country">
					<div id="selected-country" class="demo-list selected-list"></div>
				</div>
				
				<div class="input-field col s12">
					<label>Cuisine</label><br>
				</div>				
				<div class="input-field col s12">
					<input type="text" id="my-cuisine">
					<div id="selected-cuisine" class="demo-list selected-list"></div>
				</div>
				
				<div class="input-field col s12">
					<label>Diet</label><br>
				</div>		
				<div class="input-field col s12">
					<input type="text" id="my-diet">
					<div id="selected-diet" class="demo-list selected-list"></div>
				</div>

				<div class="input-field col s12">
					<label>Protein</label><br>
				</div>			
				<div class="input-field col s12">
					<input type="text" id="my-protein">
					<div id="selected-protein" class="demo-list selected-list"></div>
				</div>
				
				<div th:if="${chef}" class="input-field col s12">
					<label>Chef Profile Description</label><br>
					<textarea id="description" name="description" class="materialize-textarea" th:text=${chef.description}></textarea>		
				</div>
				<p id="saveBtn" >
					<input type="submit" value="Save Changes"  class="blue darken-4 btn"/>
				</p>			
		</form>
		</div>
		</div>
			<script th:inline="javascript">
							var listProtein = [];
							var proteins = /*[[${proteins}]]*/{};
							proteins.forEach(element=>
								listProtein.push(element.proteinType)
							);
						  
							var listDiet = [];
							var diets = /*[[${diets}]]*/{};
							diets.forEach(element=>
								listDiet.push(element.dietType)
							);
							
							var listCuisine = [];
							var cuisines = /*[[${cuisines}]]*/{};
							cuisines.forEach(element=>
								listCuisine.push(element.cuisineName)
							);
						
							var listCountry = [];
							var countries = /*[[${countries}]]*/{};
							countries.forEach(element=>
								listCountry.push(element.name)
							);
							
							//user preferences
							var userProtein=[];
							var userProteins = /*[[${user.protein}]]*/{};
							userProteins.forEach(element=>
								userProtein.push(element.proteinType)
							);
							
							var userDiet = [];
							var userDiets = /*[[${user.diet}]]*/{};
							userDiets.forEach(element=>
								userDiet.push(element.dietType)
							);
							
							var userCuisine=[]
							var userCuisines = /*[[${user.cuisine}]]*/{};
							userCuisines.forEach(element=>
								userCuisine.push(element.cuisineName)
							);
							
							var userCountry = [];
							var userCountries = /*[[${user.country}]]*/{};
							userCountries.forEach(element=>
								userCountry.push(element.name)
							);
			</script>
</body>


</html>