<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/map.js" th:src="@{/js/map.js}"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEKoLw8GaqkGrLKXvyia7lAa7F0-Y635U&callback=initMap"
  type="text/javascript"></script>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <title>Map Finder</title>
</head>
<body>
	<header>
	<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" style="color:grey;padding-left:10px;">Mama's Dish</a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
							<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
							<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
	</header>
	<div id="map"></div>
 	
</body>
</html>