<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/map.js" th:src="@{/js/map.js}"></script>
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEKoLw8GaqkGrLKXvyia7lAa7F0-Y635U&callback=initMap"
  type="text/javascript"></script>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Map Finder</title>
</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" style="color:grey;padding-left:10px;">Mama's Dish</a>
				      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge light-blue darken-3" th:text="${emails}" id="mailCount"></span></a></li>
							<li>
  								<a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons cyan-text text-darken-4">menu</i></a>
								<ul id='dropdown1' class='dropdown-content'>
									<li><a th:href="@{/users/suggest}" id="homeNavTxt">Suggested Recipes</a></li>
									<li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
								   	<li><a th:href="@{/users/viewRecent}" id="homeNavTxt">Recent Recipes</a></li>
									<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
									<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
								</ul>
							</li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
		
	  <ul class="sidenav" id="mobile-demo">
	  	<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
		<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
		<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
		<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		<li><a th:href="@{/users/suggest}" id="homeNavTxt">Suggested Recipes</a></li>
		<li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
	    <li><a th:href="@{/users/Recent}" id="homeNavTxt">Recent Recipes</a></li>
	    <li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
	    <li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
		<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
	  </ul>
		
	</header>
	<div id="map"></div>
 	
</body>
</html>