<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link href="css/home.css" th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
<link href="css/home.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>


<title>Suggest Recipes</title>
</head>
<body>
		<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" style="color:grey;padding-left:10px;">Mama's Dish</a>
				      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
							<li>
  								<a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons cyan-text text-darken-4">menu</i></a>
								<ul id='dropdown1' class='dropdown-content'>
									<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
								   	<li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
								   	<li><a th:href="@{/users/viewRecent}" id="homeNavTxt">Recent Recipes</a></li>
									<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
								</ul>
							</li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
		
	  <ul class="sidenav" id="mobile-demo">
	  	<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
		<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
		<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
		<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
	    <li><a href="" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
	    <li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
	    <li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
	    <li><a th:href="@{/users/Recent}" id="homeNavTxt">Recent Recipes</a></li>
		<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
	  </ul>
		
	</header>
	<div class="content">
	  <div id="userHomeHeader">Just For You</div>
		  <div class="scrolling-wrapper-flexbox">
				<div class="cardInfo" th:each="s : ${suggest}">
			    <div class="col s3">
			      <div style="border-radius:20px" class="card">
			        <a th:href="@{'/users/viewRecipe/' + ${s.id}}">
				         <div class="card-image">
				          	<img id="userHomeImage" style="border-radius:20px" th:if="${s.recipeImg != null}" th:src="@{'/images/recipes/'+ ${s.recipeImg}}">

							<img id="userHomeImage" style="border-radius:20px" th:unless="${s.recipeImg != null}" th:src="@{/images/shakshuka.png}">
				          <span class="card-title"  id="userHomeTitle" th:text="${s.title}"></span>
				        </div>
			        </a>
			      </div>
			    </div>
			  </div>
		 </div>
	 </div>
	<div class="content">
	  <div id="userHomeHeader">Based on your favourite Countries:</div>
		  <div class="scrolling-wrapper-flexbox">
				<div class="cardInfo" th:each="c : ${countries}">
			    <div class="col s3">
			      <div style="border-radius:20px" class="card">
			        <a th:href="@{'/users/viewRecipe/' + ${c.id}}">
				         <div class="card-image">
				          	<img id="userHomeImage" style="border-radius:20px" th:if="${c.recipeImg != null}" th:src="@{'/images/recipes/'+ ${c.recipeImg}}">

							<img id="userHomeImage" style="border-radius:20px" th:unless="${c.recipeImg != null}" th:src="@{/images/shakshuka.png}">
				          <span class="card-title"  id="userHomeTitle" th:text="${c.title}"></span>
				        </div>
			        </a>
			      </div>
			    </div>
			  </div>
		 </div>
	 </div>
	 <div class="content">
	  <div id="userHomeHeader">Based on your favourite Cuisines:</div>
		  <div class="scrolling-wrapper-flexbox">
				<div class="cardInfo" th:each="c : ${cuisines}">
			    <div class="col s3">
			      <div style="border-radius:20px" class="card">
			        <a th:href="@{'/users/viewRecipe/' + ${c.id}}">
				         <div class="card-image">
				          	<img id="userHomeImage" style="border-radius:20px" th:if="${c.recipeImg != null}" th:src="@{'/images/recipes/'+ ${c.recipeImg}}">

							<img id="userHomeImage" style="border-radius:20px" th:unless="${c.recipeImg != null}" th:src="@{/images/shakshuka.png}">
				          <span class="card-title"  id="userHomeTitle" th:text="${c.title}"></span>
				        </div>
			        </a>
			      </div>
			    </div>
			  </div>
		 </div>
	 </div>
	 <div class="content">
	  <div id="userHomeHeader">Based on your favourite Proteins:</div>
		  <div class="scrolling-wrapper-flexbox">
				<div class="cardInfo" th:each="p : ${proteins}">
			    <div class="col s3">
			      <div style="border-radius:20px" class="card">
			        <a th:href="@{'/users/viewRecipe/' + ${p.id}}">
				         <div class="card-image">
				          	<img id="userHomeImage" style="border-radius:20px" th:if="${p.recipeImg != null}" th:src="@{'/images/recipes/'+ ${p.recipeImg}}">

							<img id="userHomeImage" style="border-radius:20px" th:unless="${p.recipeImg != null}" th:src="@{/images/shakshuka.png}">
				          <span class="card-title"  id="userHomeTitle" th:text="${p.title}"></span>
				        </div>
			        </a>
			      </div>
			    </div>
			  </div>
		 </div>
	 </div>
	 <div class="content">
	  <div id="userHomeHeader">Based on your favourite diet:</div>
		  <div class="scrolling-wrapper-flexbox">
				<div class="cardInfo" th:each="d : ${diets}">
			    <div class="col s3">
			      <div style="border-radius:20px" class="card">
			        <a th:href="@{'/users/viewRecipe/' + ${d.id}}">
				         <div class="card-image">
				          	<img id="userHomeImage" style="border-radius:20px" th:if="${d.recipeImg != null}" th:src="@{'/images/recipes/'+ ${d.recipeImg}}">

							<img id="userHomeImage" style="border-radius:20px" th:unless="${d.recipeImg != null}" th:src="@{/images/shakshuka.png}">
				          <span class="card-title"  id="userHomeTitle" th:text="${d.title}"></span>
				        </div>
			        </a>
			      </div>
			    </div>
			  </div>
		 </div>
	 </div>
</body>
</html>