<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

	<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="css/nutritionFactTable.css" th:href="@{/css/nutritionFactTable.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/script.js" th:src="@{/js/startRating.js}"></script>
    <script src="../static/js/nutrition.js" th:src="@{/js/nutrition.js}"></script>


<title>View Recipe</title>
<style>
.stars-outer {
	position: relative;
	display: inline-block;
}

#stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.stars-outer:before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #000000;
}

#stars-inner:before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #f8ce0b;
}
</style>
</head>
<body>
	<header>
		 <div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" style="color:grey;padding-left:10px;">Mama's Dish</a>
				      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
							<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
							<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
	</header>
	
	   <div class="container">
			<div class="row" style="margin: auto; align-items: center; width: 100%;">
				<div class="card" style="margin-top: 5%; border-radius:15px">
					<div class="card-image">

						<img id="recipeImg" style="height:350px" th:if="${recipe.recipeImg != null}" th:src="@{'/images/recipes/' + ${recipe.recipeImg}}">
						<img id="recipeImg" th:unless="${recipe.recipeImg != null}" style="opacity:0.6; height:350px " th:src="@{/images/shakshuka.png}">
					</div>
					<div class="card-content">
						<h2 id="recipeTitle" th:text="${recipe.title}">Pizza</h2>
						<span> 
							<span id="chefFont" th:text="'Recipe By:  ' + ${recipe.chef.enduser.firstName} + ' ' + ${recipe.chef.enduser.lastName}"></span> 
							<span style="float: right">
								<div class="stars-outer">
									<div id="stars-inner"></div>
									<span class="number-rating"></span>
								</div>
							</span>
						</span>
						<hr>
						<div style="padding: 20px 0px">
							Course: <strong th:text="${recipe.mealtype.mealName.toLowerCase()}">main</strong>
							&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp&nbsp Country: <strong th:text="${recipe.country.name.toLowerCase()}">italian</strong>
						</div>
						<div
							style="margin-top: 5px; border: 1px dashed lightgrey; height: 100px;"
							class="row s12">
							<div id="srvDiv" class="col s4 js-servingSize">
								<img class="icon" th:src="@{/images/serving.png}" id="center">
								<p id="iconlbl">Serving Size:</p>
								<p th:text="${recipe.servingSize}" th:attr="data-servingsize=${recipe.servingSize}">1</p>
							</div>
							<div id="srvDiv" class="col s4">
								<img class="icon" th:src="@{/images/time.png}">
								<p id="iconlbl">Prep Time:</p>
								<p th:text="${#numbers.formatDecimal(recipe.prepTime, 0, 0)} + ' mins'">
									10 mins
								</p>
							</div>
							<div class="col s4" id="center" style="padding: 10px">
								<img class="icon" th:src="@{/images/cooking.png}" id="center">
								<p id="iconlbl">Cook Time:</p>
								<p
									th:text="${#numbers.formatDecimal(recipe.cookTime, 0, 0)} + ' mins'">20
									min</p>
							</div>
						</div>
						<ul class="collapsible expandable">
                            <li>
                                <div class="collapsible-header">Nutrition Facts</div>
                                <div class="collapsible-body">
                                    <section class="performance-facts" id="centerTable">
                                        <header class="performance-facts__header">
                                            <h1 class="performance-facts__title">Nutrition Facts</h1>
                                        </header>
                                        <table class="performance-facts__table">
                                            <thead>
                                                <tr>
                                                    <th colspan="3" class="small-info">Amount Per Serving</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th colspan="2">
                                                        <b>Calories</b>
                                                        <span class="js-totalCalories"></span>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <b>Total Fat</b>
                                                        <span class="js-totalFat"></span>g
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td class="blank-cell"></td>
                                                    <th>
                                                        Saturated Fat
                                                        <span class="js-totalSaturatedFat"></span>g
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <b>Cholesterol</b>
                                                        <span class="js-totalCholesterol"></span>mg
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <b>Sodium</b>
                                                        <span class="js-totalSodium"></span>mg
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <b>Total Carbohydrate</b>
                                                        <span class="js-totalCarbohydrate"></span>g
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td class="blank-cell"></td>
                                                    <th>
                                                        Dietary Fiber
                                                        <span class="js-totalDietaryFiber"></span>g
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td class="blank-cell"></td>
                                                    <th>
                                                        Sugars
                                                        <span class="js-totalSugars"></span>g
                                                    </th>
                                                </tr>
                                                <tr class="thick-end">
                                                    <th colspan="2">
                                                        <b>Protein</b>
                                                        <span class="js-totalProtein"></span>g
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </li>
                        </ul>         
						<div class="yellow lighten-5">
                            <ul class="collection with-header js-ingredientList" id="centerUl"
                                style="border: 0px; width: 92%">
                                <li class="collection-header yellow lighten-5" id="ulHeader">
                                    <h6 id="listLbl">
                                        <strong>INGREDIENTS</strong>
                                    </h6>
                                </li>
                                <!-- If measurement type exists -->
                                <li th:each="r: ${recipe.ingredients}"
                                	th:if="${r.measurement}"
                                    th:attr="data-quantity=${r.quantity},data-type=${r.measurement.measurementType},data-name=${r.ingredient.ingredientName}"
                                    class="collection-item yellow lighten-5" style="padding: 20px 0px">
	                                <div id="ingredLi" th:text="${r.quantity} + ' ' + ${r.measurement.measurementType} + ' ' + ${r.ingredient.ingredientName}">
	                                </div>
                                </li>
                                <!-- If measurement type dosen't exist -->
                                <li th:each="r: ${recipe.ingredients}"
                                	th:unless="${r.measurement}"
                                    th:attr="data-quantity=${r.quantity},data-name=${r.ingredient.ingredientName}"
                                    class="collection-item yellow lighten-5" style="padding: 20px 0px">
	                                <div id="ingredLi" th:text="${r.quantity} + ' ' + ${r.ingredient.ingredientName}"></div>
                                </li>
                            </ul>
                        </div>
						<div>
							<ul class="collection with-header" style="border: 0px">
							
								<li id="listLbl" class="collection-header">
									<h6 id="listLbl"><strong>INSTRUCTIONS</strong></h6>
								</li>
								
								<li id="list" class="collection-item" style="padding: 20px 25px" th:each="i : ${instructions}">
									<div th:text="${i.stepNumber} + ') ' + ${i.description}"></div>
								</li>
							</ul>
								<div>
									<a style="background-color: #5085A5" onclick="writeReview()" class="waves-effect waves-light btn">Write a Customer review</a>
								</div>
															<div th:if="${reviews != null}">
 								<ul class="collection with-header" style="border: 0px" >
 								
 								<li id="listLbl" class="collection-header">
									<h6 id="listLbl"><strong>REVIEWS</strong></h6>
								</li>
								
								<li id="listLbl" class="collection-header" th:each="r: ${reviews}">
										<div class="row">
										<h6 class="col s9" th:text="${r.userName}"></h6>
										
										<p class="col s3"><div class="stars-outer">
											<div id="stars-inner" th:style="'width:'+(${r.rating} * 100)/5 +'%'"></div>
									<span class="number-rating"></span>
								</div>
								</p>
									
								</div>
								<div class="row">
										<p class="col s12" th:text="${r.comment}" style="font-size:25px;"></p>
										</div>
										</li>
										</ul>
										
									</div>
									</div>
								</div> 

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
<script th:inline="javascript">

function getRating() {

	var rating = /*[[${rating}]]*/"";

	return rating;

}

function getRecipeId() {

	var recipeID = /*[[${recipe.id}]]*/"";

	return recipeID;

}

function getReviews() {

	var reviwes = /*[[${reviews}]]*/[];
	console.log("reviews"+reviwes)

	return reviwes;

}


</script>
</html>