<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link href="css/home.css" th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
<link href="css/home.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	

<title>View All Recipes</title>
</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" id="recipeHeader" style="color:grey;padding-left:10px;">Mama's Dish</a>
				      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
							<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
							<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
		
	  <ul class="sidenav" id="mobile-demo">
	  	<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
		<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
		<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
		<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
	    <li><a href="" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
		<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
	  </ul>
		
	</header>
	
		<ul id="slide-out" class="sidenav sidenav-fixed collection with-header" style="top:68px; height:100%">
        <li class="collection-header"><h6>Filter by:</h6></li>
		      <li><a href="#" class="link" onclick="showCountries()">Country</a></li>
		      <div style="display:none;padding:0px 32px;" id="countryBoxes">
		      	
		      </div>
		      
		      <li><a href="/messages/deleted">Diet<span class="badge" id="deletedNum" th:text="${deleted}"></span></a></li>
		</ul>
		<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
	
	<main>
		<div class="container" style="width: 90%;">
		
		 	<h3 id="recipeHeader">Recipes</h3>
	
		<nav class="row" id="center" style="background-color:white; border-radius:10px; ">
		    <div class="nav-wrapper" >
		      <form th:action="@{/users/searchRecipes}" method="post">
		      
				  <div class="input-field col s2">
				    <select style="padding-left:6px;margin-left:0px;" required id="search" class="browser-default" name="searchBy">
				      <option id="optionFilter" value="" disabled selected>Search By: </option>
				      <option id="optionFilter" value="1">Name</option>
				      <option id="optionFilter" value="2">Ingredients</option>
				      <option id="optionFilter" value="3">Country</option>
				    </select>
				  </div>
		      
			      <div class="input-field col s8" >
			      	<input id="searchBar" th:value="${searchVal}" type="search" name="search" style="border-right: 1px solid lightgrey; padding-top:5px; margin-top:10px; height:40px;" required>
			        </div>
			        <button class="col s0.5 btn-flat" type="submit" ><i class="material-icons cyan-text text-darken-4">search</i></button>
			        <a class="col s0.5 btn-flat" onclick="clearText()"><i class="material-icons cyan-text text-darken-4">clear</i></a>
		      </form> 
		    </div>
	  </nav>
  
		 <div class="row">
		 
			  <div th:each="r: ${recipes}">
			    <div class="col s4">
				    <a class="link" th:href="@{/users/viewRecipe/{id}(id=${r.id})}">
				      <div class="card" th:id="recipe + ${r.id}" style="height:500px; margin:15px; border-radius:15px">
				        <div class="card-image">
					          <img id="recipeImg" style="height:200px" th:if="${r.recipeImg != null}" th:src="@{'/images/recipes/' + ${r.recipeImg}}">
					          <img id="recipeImg" th:unless="${r.recipeImg != null}" style="opacity:0.6; height:200px" th:src="@{/images/shakshuka.png}">
				        </div>
				        <div class="card-content">
				        	<p th:id="recipeCountry + ${r.id}" th:text=${r.country.name}></p>
				       		<span class="card-title" id="recipeCard"  th:text="${r.title}"></span>
							<p class="flow-text" id="recipeDescription" th:text="${r.description}"></p>
				        </div>
				      </div>
				    </a>
			    </div>
			  </div>
	
		 </div>
	 </div>
 </main>
 
 
	<script th:inline="javascript">
			var countries = /*[[${countries}]]*/{};

	</script>
</body>
</html>