.cardInfo{
	width:300px;
}

.scrolling-wrapper-flexbox .cardInfo{
  flex: 0 0 auto;
  margin-right: 20px;
}

.scrolling-wrapper-flexbox {
	display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}
.content{
	margin: auto; 
	align-items: center; 
	width: 80%;
}
