@charset "ISO-8859-1";

body{
	background-color:#F7F9FB;
}

.homeNav{
	background-color:#5085A5;
	height: 75px;
}

#recipeImg{
	width:100%;
	height:300px;
}

.logo{
	width:70px;
	height:70px;
	padding:10px;
}

.formDiv, #ingredientDiv, #instructionDiv{
	margin-left:20%;
}

#footer {
            position: fixed;
            padding: 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 70px;

        }