<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extra-springsecurity5">

<head>
<meta charset="ISO-8859-1">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	<script src="../static/js/script.js" th:src="@{/js/viewAllRecipes.js}"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	

<title>View All Recipes</title>
</head>
<body>
	<header>

		<div class="navbar-fixed" id="centerNav">

			<nav class="homeNav fixed" id="centerNav">
				<div class="nav-wrapper" id="centerNav">
					<!-- <a th:href="@{/}" class="brand-logo"><img class="logo"
					src="/images/logo.png" /></a> -->
					<ul style="width: 100%" id="centerNav"
						class="hide-on-med-and-down">
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
						<li><a style="padding:0px 30px" th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<main>
	
	<h3 id="recipeHeader">HELLO, <span th:text="${chef.enduser.firstName}"></span></h3> 
		 	
	<div class="row" style="padding:5px 50px; width:85%">
	 
	 <div th:if="${!chef.recipes.empty and chef.recipes !=null}">
	  <div th:each="r: ${chef.recipes}">
	    <div class="col s4">
	    <a class="link" th:href="@{/viewRecipe/{id}(id=${r.id})}">
	      <div class="card" style="height:600px;margin:15px; ">
	        <div class="card-image">
	          <img id="recipeImg" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/epic-summer-salad-7539748.jpg">
	        </div>
	        <div class="card-content">
	                	<p id="recipeCountry" th:text=${r.country.name}></p>
	        
	                  <span class="card-title" id="recipeCard"  th:text="${r.title}"></span>
				<p id="recipeDescription" th:text="${r.description}"></p>
	        </div>
	     
	      </div>
	            </a>
	      
	    </div>
	  </div>
	  </div>
 
  
 </div>
 </main>
</body>
</html>