<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<title>Mama's Dish</title>
</head>
<body>
	<header>
		<div class="navbar-fixed" id="centerNav">
			<nav class="homeNav fixed" id="centerNav">
				<div class="nav-wrapper" id="centerNav">
					<!-- <a th:href="@{/}" class="brand-logo"><img class="logo"
					src="/images/logo.png" /></a> -->
					<ul style="width: 100%" id="centerNav"
						class="hide-on-med-and-down">
						<li style="padding-right: 80px;"><a href="about.html" id="homeNavTxt" >About</a></li>
						<li style="padding-right: 80px"><a href="profile.html" id="homeNavTxt">Profile</a></li>
						<li style="padding-right: 80px"><a href="recipe.html" id="homeNavTxt">Recipe</a></li>
						<li style="padding-right: 80px"><a href="myrecipe.html" id="homeNavTxt">My Recipe</a></li>
						<li><a href="logout.html" id="homeNavTxt">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
<main>
	<h1>Upload a recipe</h1>
	<a class="waves-effect waves-light btn-large" th:href="@{/uploadRecipe}"><i class="material-icons left">cloud</i>Upload A Recipe</a>
</main>   
</body>
</html>