<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet"
	type="text/css">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="../static/js/script.js" th:src="@{/js/viewAllRecipes.js}"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
<title>View All Recipes</title>
</head>
<body>
	<header>

		<div class="navbar-fixed" id="centerNav">

			<nav class="homeNav fixed" id="centerNav">
				<div class="nav-wrapper" id="centerNav">
					<!-- <a th:href="@{/}" class="brand-logo"><img class="logo"
					src="/images/logo.png" /></a> -->
					<ul style="width: 100%" id="centerNav"
						class="hide-on-med-and-down">
						<li style="padding-right: 80px;"><a href="about.html" id="homeNavTxt" >About</a></li>
						<li style="padding-right: 80px"><a href="profile.html" id="homeNavTxt">Profile</a></li>
						<li style="padding-right: 80px"><a href="recipe.html" id="homeNavTxt">Recipe</a></li>
						<li style="padding-right: 80px"><a href="myrecipe.html" id="homeNavTxt">My Recipe</a></li>
						<li><a href="logout.html" id="homeNavTxt">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<main>
	
		 	<h3 id="recipeHeader">Recipes</h3>
	
	<nav class="row" id="center" style="width:75%; background-color:white; border-radius:10px; ">
    <div class="nav-wrapper" >
      <form>
        <div   class="input-field col s11" >
          <input id="search" type="search" style="border-right: 1px solid lightgrey; padding-top:5px; margin-top:10px; height:40px;" required>
        </div>
  
	        <button class="col s0.5 btn-flat" type="submit"><i class="material-icons cyan-text text-darken-4">search</i></button>
	        <button class="col s0.5 btn-flat" onclick="clearText()"><i class="material-icons cyan-text text-darken-4">clear</i></button>
   
      </form>
       
    </div>
  </nav>
  
 <div class="row" style="padding:50px; width:85%">
 
  <div th:each="r: ${recipes}">
    <div class="col s4">
    <a class="link" th:href="@{/viewRecipe/{id}(id=${r.id})}">
      <div class="card" style="height:600px;margin:15px; ">
        <div class="card-image">
          <img id="recipeImg" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/epic-summer-salad-7539748.jpg">
        </div>
        <div class="card-content">
                	<p id="recipeCountry" th:text=${r.country.name}></p>
        
                  <span class="card-title" id="recipeCard"  th:text="${r.title}"></span>
			<p id="recipeDescription" th:text="${r.description}"></p>
        </div>
     
      </div>
            </a>
      
    </div>
  </div>
 
  
 </div>
 </main>
</body>
</html>