<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extra-springsecurity5">

<head>
<meta charset="ISO-8859-1">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link href="css/home.css" th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
<link href="css/home.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">	

<title>View All Recipes</title>
</head>
<body>
	<div th:replace="fragments/myHeader :: headerTemplate"></div>
	
	 <div class="content">
	
	<h3 id="recipeHeader">HELLO, <span th:text="${chef.enduser.firstName}"></span></h3> 
	
		<h5 id="recipeHeader" style="font-size:20px">Here are your recipes: </h5> 
	
		 	
	<div class="row">
	 
	 <div th:if="${!chef.recipes.empty and chef.recipes !=null}">
	  <div th:each="r: ${chef.recipes}">
	    <div class="col s12 m4 l4 xl4">
	    <a class="link" th:href="@{/chefs/viewRecipe/{id}(id=${r.id})}">
	      <div class="card" style="height:300px; margin:15px; border-radius:15px; ">
	        <div class="card-image">
	          <img id="recipeImg" th:if="${r.recipeImg != null}" th:src="@{'http://ocranp.dev.fast.sheridanc.on.ca/images/recipes/' + ${r.recipeImg}}">
	          <img id="recipeImg" th:unless="${r.recipeImg != null}" style="opacity:0.6" th:src="@{/images/shakshuka.png}">
	        </div>
	        <div class="card-content">	        
	             <span class="card-title" id="recipeCard"  th:text="${r.title}"></span>
	        </div>
	     
	      </div>
	            </a>
	      
	    </div>
	  </div>
	  </div>
 
  
 </div>
 </div>
</body>
</html>