<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="../static/js/instruction.js" th:src="@{/js/instruction.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Edit Instructions</title>
</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" style="color:grey;padding-left:10px;">Mama's Dish</a>
				      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
							<li>
  								<a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons cyan-text text-darken-4">menu</i></a>
								<ul id='dropdown1' class='dropdown-content'>
									<li><a th:href="@{/users/suggest}" id="homeNavTxt">Suggested Recipes</a></li>
									<li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
								   	<li><a th:href="@{/users/viewRecent}" id="homeNavTxt">Recent Recipes</a></li>
									<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
									<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
								</ul>
							</li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
		
	  <ul class="sidenav" id="mobile-demo">
	  	<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
		<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
		<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
		<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
		<li><a th:href="@{/users/suggest}" id="homeNavTxt">Suggested Recipes</a></li>
		<li><a th:href="@{/users/viewSaved}" id="homeNavTxt">Saved Recipes</a></li>
	    <li><a th:href="@{/users/Recent}" id="homeNavTxt">Recent Recipes</a></li>
	    <li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
	    <li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
		<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
	  </ul>
		
	</header>
	<h3 style="text-align:center" id="recipeHeader">Add your instructions:</h3>
			
	<div style="display: none; text-align:center" id="errId">Please ensure all ingredients are named</div>
		
	<div style="display: none" id="recipeId"  th:text="${recipe.id}"></div>
		<div class="container">	
		<div id="instructionDiv" >			
				<div class="row" th:id="instructionBox + ${instruction.id}" th:each="instruction : ${recipe.instructions}">
					<div class="col s11">
						<div class="card" style="border-radius: 15px">
							<div class="card-content">
								<div class="row">
									<div class="input-field col s12">
									 	<textarea th:id="instructionValue + ${instruction.id}" class="materialize-textarea" name="instruction"
									 	th:text="${instruction.description}"></textarea>
										<label for="instruction">Instruction</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col s1" style="padding-top: 90px">
					<a class="btn-floating" id="deleteBtn" th:onclick="'javascript:deleteInstruction(' + ${instruction.id} + ');'">
						<i class="material-icons">delete_forever</i>
						</a>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<a style="margin-left: 30%; width:39%; background-color:#5085A5" onclick="addInstruction()" class="waves-effect waves-blue btn">
					Add Instruction
				</a>
			</div>
		</div>

	</div>

	<div id="footer">
		<a style="float: right; margin-right: 100px; background-color:#5085A5"
		 onclick="editInstruction()" class="waves-effect waves-blue btn">Save Recipe</a>
	</div>

</body>


	<script th:inline="javascript">
		function getMeasurements() {
			var data = /*[[${measurements}]]*/{};

			return data;
		}

		function getProteins() {
			var data = /*[[${proteins}]]*/{};

			return data;

		}
	</script>
</html>