<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="../static/js/ingredient.js" th:src="@{/js/ingredient.js}"></script>
<script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<title>Add Ingredients</title>
</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper" style="background-color:white">
				      <a th:href="@{/users/userHome}" class="brand-logo" style="color:grey;padding-left:10px;">Mama's Dish</a>
				     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons cyan-text text-darken-4">menu</i></a>
				      	<ul class="right hide-on-med-and-down">
							<li><a th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
							<li><a th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
							<li><a th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
							<li><a th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
							<li><a th:href="@{/viewProfile}"  id="homeNavTxt">Profile</a></li>
		      				<li><a th:href="@{/messages/inbox}" id="homeNavTxt">Inbox<span class="new badge" th:text="${emails}" id="mailCount"></span></a></li>
							<li><a th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
		     	 		</ul>
	    		</div>
	  		</nav>
		</div>
	</header>

		<div style="display: none" id="recipeId"  th:text="${recipeId}"></div>
		<h3 style="text-align:center" id="recipeHeader">Add your ingredients:</h3>
		<div style="display: none; text-align:center; margin-bottom:5px;" id="errId">Please ensure all ingredients are named</div>
		
		<div class="container">	
		<div class="demo"></div>
		
		
		<div id="ingredientDiv">
		
			<div class="row" id="ingredientBox1">
				<div class="col s11 ">
					<div class="card" style="border-radius: 15px">
						<div class="card-content">
							<div class="row">
								<div class="input-field col s2">
									<input id="quantity1" type="number" name="quantity" min="1">
									<label for="quantity">Quantity</label>
								</div>
								<div class="input-field col s4">
									<select id="measurement1" style="color:#5085A5" class="browser-default"
										name="measurement" required>
										<option th:text="Measurement" style="color:#5085A5" value="" selected disabled></option>
										<option th:each="m : ${measurements}" th:value="${m.id}"
											th:text="${#strings.capitalize(m.measurementType)}"></option>
									</select>
								</div>
								<div class="input-field col s6">
									<input id="ingredientName1" required type="text" name="ingredient">
									<label for="ingredient">Ingredient</label>
								</div>
							</div>
							<div class="row" style="padding-bottom: 10px; padding-left: 650px;">
								<div class="input-field">
									<label> <input type="checkbox" id="protein1" class="filled-in checkbox-blue-grey"
										name="protein1" onClick="showProtein(this)"/> 
										<span>Protein</span>
									</label>
								</div>
							</div>
							<div class="row" id="proteinDiv1" style="display: none;">
								<label>Protein</label> <br><br> 
								<select  id="proteinType1" class="browser-default" name="proteinType1" required>
									<option th:each="p : ${proteins}" th:value="${p.id}" th:text="${p.proteinType}"></option>
								</select>
							</div>
						</div>
					</div>
						
				</div>
				<div class="col s1" style="padding-top: 90px">
				<a class="btn-floating" id="deleteBtn" onclick="deleteIngredient(1)">
					<i class="material-icons">delete_forever</i>
					</a>
				</div>
			
			</div>
		</div>

</div>
		<div class="row">
			<div class="input-field col s12">
				<a style="margin-left: 30%; width:39%; background-color:#5085A5" onclick="newIngredient()" class="waves-effect waves-blue btn">
					Add Ingredient
				</a>
			</div>
		</div>


	<div id="footer">
		<a style="float: right;background-color:#5085A5"
		 onclick="saveRecipe()" class="waves-effect waves-light btn">NEXT: ADD INSTRUCTIONS</a>
	</div>


	<script th:inline="javascript">
		function getMeasurements() {
			var data = /*[[${measurements}]]*/{};

			return data;
		}

		function getProteins() {
			var data = /*[[${proteins}]]*/{};

			return data;

		}
	</script>

</body>


</html>