<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="../static/js/instruction.js" th:src="@{/js/instruction.js}"></script>
<script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Instruction</title>
</head>
<body>
	<div th:replace="fragments/myHeader :: headerTemplate"></div>
		
	<h3 style="text-align:center" id="recipeHeader">Add your instructions:</h3>
			
	<div style="display: none; text-align:center" id="errId">Please ensure all ingredients are named</div>
		
		<div style="display: none" id="recipeId"  th:text="${recipeId}"></div>
		<div class="container">	
		<div id="instructionDiv">			
			<div class="row" id="instructionBox1">
				<div class="col s11">
					<div class="card" style="border-radius: 15px">
						<div class="card-content">
							<div class="row">
								<div class="input-field col s12">
								 	<textarea id="instructionValue1" class="materialize-textarea" name="instruction"></textarea>
									<label for="instruction">Instruction</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col s1" style="padding-top: 90px">
				<a class="btn-floating" id="deleteBtn" onclick="deleteInstruction(1)">
					<i class="material-icons">delete_forever</i>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<a style="margin-left: 30%; width:39%; background-color:#5085A5" onclick="addInstruction()" class="waves-effect waves-blue btn">
					Add Instruction
				</a>
			</div>
		</div>
</div>

	<div id="footer">
		<a style="float: right; margin-right: 100px; background-color:#5085A5"
		 onclick="saveInstruction()" class="waves-effect waves-blue btn">Save Recipe</a>
	</div>

</body>


	<script th:inline="javascript">
		function getMeasurements() {
			var data = /*[[${measurements}]]*/{};

			return data;
		}

		function getProteins() {
			var data = /*[[${proteins}]]*/{};

			return data;

		}
	</script>
</html>