<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet"
	type="text/css">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<script data-require="jquery@1.12.4" data-semver="1.12.4"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
<title>View Recipe</title>
</head>
<body>
	<header>
		<div class="navbar-fixed" id="centerNav">
			<nav class="homeNav fixed" id="centerNav">
				<div class="nav-wrapper" id="centerNav">
					<!-- <a th:href="@{/}" class="brand-logo"><img class="logo"
					src="/images/logo.png" /></a> -->
					<ul style="width: 100%" id="centerNav"
						class="hide-on-med-and-down">
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/users/userHome}"  id="homeNavTxt">Home</a></li>
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/users/viewAllRecipe}"  id="homeNavTxt">All Recipes</a></li>
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/users/discover}"  id="homeNavTxt">Discover Recipes</a></li>
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/chefs/chefIndex}"  id="homeNavTxt">Chef's Portal</a></li>
						<li style="padding-right: 70px"><a style="padding:0px 30px" th:href="@{/chefs/uploadRecipe}"  id="homeNavTxt">Upload Recipe</a></li>
						<li><a style="padding:0px 30px" th:href="@{/logout}" id="homeNavTxt">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<main >
	
	 <div class="container center-align" >
	<h3 style="text-align:center" id="recipeHeader">Enter Recipe Information:</h3>
		
	<div class="row" >
		
		
    <div class="col s12" id="center">
      <div class="card white" >
        <div class="card-content white-text">
			<div style="color:red; margin-top:10px" th:each="error: ${errorMessage}" th:text="${error}"></div>
			<form method="POST" th:object="${recipe}" th:action="@{/chefs/addRecipe}" enctype="multipart/form-data">
				<input type="hidden" th:value="${chef.id}" name="chefId"/>
				<div class="row">
					<div class="input-field col s12">
						<input id="title" type="text" th:field="*{title}" required> 
						<label for="title">Title</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
    				<input type="file" name="image" accept="image/png, image/jpeg" />
					<label for="image">Image</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea th:field="*{description}" id="textarea1" class="materialize-textarea" required></textarea>
						<label for="textarea1">Summary</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s3">
						<input id="serving" type="number" th:field="*{servingSize}" min="1"> 
						<label for="serving">Serving Size</label>
					</div>
				</div>
				<div class="row">
					<div class="col s3">
 						<input type="text" placeholder="HH:MM" id="prep" name="prep" title="Please enter in hh:mm format. Ex. 00:25" pattern="^([0-5][0-9]):([0-5][0-9])$" required/>
						<label for="prep">Prep Time</label>
					</div>
					<div class="col s3">
						<input type="text" placeholder="HH:MM" id="cook" name="cook" pattern="^([0-5][0-9]):([0-5][0-9])$" required/>
						<label for="cook">Cook Time</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label>Meal Type</label><br><br>
						<select class="browser-default" th:field="*{mealtype}" required>
							<option th:text="'Meal Type'" style="color:#5085A5" value="" selected disabled></option>
							<option th:each="m : ${meals}" th:value="${m.id}" th:text="${#strings.capitalize(#strings.toLowerCase(m.mealName))}"></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label>Country</label><br><br>
						<select class="browser-default" th:field="*{country}" required>
							<option th:text="Country" style="color:#5085A5" value="" selected disabled></option>
							<option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}"></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label>Cuisine</label><br><br>
						<select class="browser-default" th:field="*{cuisine}">
							<option th:text="Cuisine" value="" selected></option>
							<option th:each="c : ${cuisines}" th:value="${c.id}" th:text="${c.cuisineName}"></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label>Diet Type</label><br><br>
						<select class="browser-default" th:field="*{diet}">
							<option th:text="'Diet Type'" value="" selected></option>
							<option th:each="d : ${diets}" th:value="${d.id}" th:text="${#strings.capitalize(#strings.toLowerCase(d.dietType))}"></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button class="btn waves-effect waves-teal"
							style="width: 41%; background-color: #5085A5" type="submit" name="action">
							Next : Add Ingredients <i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
		</div>
		</div>
		</div>
		</div>
		
		</div>
	</main>
</body>
</html>